In [437]:
import numpy as np
import pandas as pd

ratings_data = pd.read_csv("E:/3rd year tasks 2nd term/ai/task7/ContentBasedRecommenderSystem/ratings.csv")
ratings_data = ratings_data[ratings_data['userId']<201]
# ratings_data

In [438]:
movie_names = pd.read_csv("E:/3rd year tasks 2nd term/ai/task7/ContentBasedRecommenderSystem/movies.csv")
movie_names = movie_names.iloc[:200]
movie_names['index'] = range(0, len(movie_names) )
# movie_names

In [455]:
movie_data = pd.merge(ratings_data, movie_names, on='movieId')
movie_data

,userId,movieId,rating,timestamp,title,genres,index
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0
...,...,...,...,...,...,...,...
2137,191,148,5.0,829760897,"Awfully Big Adventure, An (1995)",Drama,121
2138,191,155,4.0,829760897,Beyond Rangoon (1995),Adventure|Drama|War,128
2139,191,178,1.0,829760898,Love & Human Remains (1993),Comedy|Drama,150
2140,191,229,5.0,829760897,Death and the Maiden (1994),Drama|Thriller,195
2141,199,229,3.0,940373078,Death and the Maiden (1994),Drama|Thriller,195

In [440]:
ids=np.unique(movie_data.movieId)
# ids

In [454]:
user_movie_rating = movie_data.pivot_table(index='movieId', columns='userId',values='rating').fillna(0)
user_movie_rating

userId,1,3,4,5,6,7,8,9,11,12,...,191,192,193,194,195,196,197,198,199,200
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,0.0,...,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
2,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
230,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,5.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
232,0.0,0.0,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0

In [442]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(user_movie_rating,user_movie_rating)
cosine_sim=pd.DataFrame(cosine_sim)
cosine_sim

,0,1,2,3,4,5,6,7,8,9,...,166,167,168,169,170,171,172,173,174,175
0,1.000000,0.364634,0.284825,0.000000,0.279775,0.327928,0.270701,0.128765,0.195017,0.352899,...,0.363093,0.211791,0.160623,0.088024,0.107733,0.104516,0.140704,0.360625,0.087884,0.000000
1,0.364634,1.000000,0.278446,0.102937,0.277072,0.278936,0.240488,0.130496,0.000000,0.342590,...,0.202565,0.085855,0.132766,0.114888,0.000000,0.000000,0.191316,0.352531,0.000000,0.000000
2,0.284825,0.278446,1.000000,0.150278,0.391915,0.341700,0.592157,0.406427,0.288534,0.231410,...,0.284289,0.200545,0.347200,0.197325,0.000000,0.000000,0.244260,0.485324,0.000000,0.000000
3,0.000000,0.102937,0.150278,1.000000,0.239259,0.176604,0.297614,0.253546,0.000000,0.129040,...,0.108721,0.382276,0.280386,0.000000,0.000000,0.000000,0.369406,0.132357,0.257513,0.000000
4,0.279775,0.277072,0.391915,0.239259,1.000000,0.256166,0.539392,0.404422,0.000000,0.275293,...,0.150873,0.295177,0.380707,0.070687,0.000000,0.000000,0.287247,0.296883,0.092419,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,0.104516,0.000000,0.000000,0.000000,0.000000,0.242299,0.091873,0.000000,0.000000,0.000000,...,0.253580,0.238400,0.000000,0.000000,0.000000,1.000000,0.316763,0.000000,0.000000,0.000000
172,0.140704,0.191316,0.244260,0.369406,0.287247,0.305806,0.346312,0.234154,0.000000,0.154921,...,0.325314,0.481415,0.258941,0.109137,0.326512,0.316763,1.000000,0.142605,0.256842,0.142543
173,0.360625,0.352531,0.485324,0.132357,0.296883,0.295106,0.357803,0.178979,0.079414,0.411800,...,0.335287,0.142591,0.487390,0.301241,0.187180,0.000000,0.142605,1.000000,0.000000,0.068097
174,0.087884,0.000000,0.000000,0.257513,0.092419,0.090956,0.116492,0.000000,0.000000,0.066459,...,0.183661,0.143187,0.086644,0.047338,0.000000,0.000000,0.256842,0.000000,1.000000,0.000000
175,0.000000,0.000000,0.000000,0.000000,0.000000,0.159009,0.000000,0.000000,0.000000,0.088521,...,0.186456,0.000000,0.000000,0.000000,0.000000,0.000000,0.142543,0.068097,0.000000,1.000000

In [456]:
def get_ID_from_title(title):
    return movie_data[movie_data.title == title]["movieId"].values[0]

def get_title_from_ID(index):
    return movie_data[movie_data.movieId == index]["title"].values[0]

def get_similar_movies(movie_user_like):

    movie_ID = get_ID_from_title(movie_user_like)
    # print(movie_ID)
    movie_index = get_index_from(movie_user_like)
    # print(movie_index)
    similar_movies = cosine_sim[movie_index].sort_values(ascending=False)
    similar_movies=pd.DataFrame(similar_movies)
    top=list(similar_movies.iloc[1:11].index)
    # print(top)
    # similar_movies

    rec=[]
    Ids=[]
    for i in range(len(top)):
        movieid=ids[top[i]]
        title=get_title_from_ID(movieid)
        Id=get_ID_from(title)
        rec.append(title)
        Ids.append(Id)
#         print(Id,title)
#         print()
   
    rec=pd.DataFrame(rec)  
    rec['movie_ID'] = Ids
    return rec

In [457]:
get_similar_movies("Toy Story (1995)")

                                   0  movie_ID
0                  Braveheart (1995)       110
1                   Apollo 13 (1995)       150
2         Usual Suspects, The (1995)        50
3               Happy Gilmore (1996)       104
4  Die Hard: With a Vengeance (1995)       165
5        Seven (a.k.a. Se7en) (1995)        47
6                        Babe (1995)        34
7                  Waterworld (1995)       208
8              Batman Forever (1995)       153
9                 Taxi Driver (1976)       111

In [458]:
get_similar_movies("Waiting to Exhale (1995)")

                                                0  movie_ID
0                         Before and After (1996)       113
1  Mighty Morphin Power Rangers: The Movie (1995)       181
2           Before the Rain (Pred dozhdot) (1994)       214
3                                 Reckless (1995)       189
4                                Cure, The (1995)       219
5                             Three Wishes (1995)       201
6                                  Georgia (1995)        55
7                                 Mad Love (1995)       179
8                       White Man's Burden (1995)       209
9                              Bushwhacked (1995)       212